mixin video(id, className)
  .video(class=className)
    .video__cover.js-play-video(data-id=id, style=`background-image: url(https://img.youtube.com/vi/${id}/maxresdefault.jpg)`)
      .video__play
        include assets/play-icon.svg

mixin video-local(url, className)
  .video.video--local(data-url=url, class=className)
    .video__cover.js-play-video(style='background-image: url(https://img.youtube.com/vi/ovUMVVgMaDU/maxresdefault.jpg)')
      .video__play
        include assets/play-icon.svg